#map {
  height: 150%;
  position: sticky;
  top: 0;
}

.marker {
  background-image: url('logocar.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 10px;
  padding: 20px 10px 15px;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  text-decoration: none;

  .h3 {
    text-decoration: none;
  }
}

.imgpopup {
  width: 100%;
  object-fit: cover;
}

.car-info {
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  display: inline-block;
}
.car-info {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.car-info:hover {
  background-color: #f0f0f0;
}
