.navbar-lewagon {
  justify-content: space-between;
  background-color: #0B1614;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.nav-link {
  color: #588870;
}

.title2{
  font: bold;
}
