<div class="container">
  <div class="row">
    <div class="col">

<%# il faut ouvrir un ticket pour revoir mes dates %>

  <%= simple_form_for [@car, @booking], html:{data: { controller: "datepicker" }} do |f| %>
    <%= f.input :booking_dates,
                label: 'Booking dates',
                as: :string,
                input_html:  { data: { datepicker_target: "bookingDates", } }%>



  <%= f.submit 'Book this car', class: "btn btn-primary" %>
  <% end %>
    </div>
  </div>
</div>
